<div id="left">
	<h1>MainPages#home</h1>
	<p>Find me in app/views/main_pages/home.html.erb</p>
	<%= link_to "Project List", proj_list_path %>
</div>
<div id="right">
	<h1>MainPages#about</h1>
	<p>This should be a link later</p>
	<%= link_to "About", about_path %>
</div>


<%= @some_stuff %>
