<h1>MainPages#proj_list</h1>
<p>Find me in app/views/main_pages/proj_list.html.erb</p>
<%= link_to "Home over here", home_path %>
<%= link_to "Here's a path to the intro page", root_path %>

<section class="flex-container">
	<% @projects.each do |p| %>
		<div class="flex-item">
			<h1><%= p.title %></h1>
			<p><%= p.description %></p>
		</div>
	<% end %>
</section>

