// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	width: 100%;
	background-color: #fff;
}

div {
	display: inline-block;
	background-color: #444;
	margin: 0;
	max-width: 50%;
	float: left;
	width: 100%;
	
	p {
		color: #0f0;
		height: 1em;
	}
}

/* Project list page */

.flex-container {
	padding: 0;
	margin: 0.1em;
	list-style: none;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	flex-wrap: column wrap;
	justify-content: flex-start;
	
	.flex-item {
		background-color: #39706C;
		padding: 0.2em;
		width: 10em;
		margin-top: 1em;
		
		color: white;
		text-align: center;
	}
}
