// Place all the styles related to the MainPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	margin: 0;
	width: 100%;
	background-color: #fff;
}

div {
	display: inline-block;
	background-color: #444;
	margin: 0;
	max-width: 50%;
	float: left;
	width: 100%;
	
	p {
		color: #0f0;
	}
}

/* Project list page */

/* Project list navigation */
.proj-nav {

	.proj-categories{
		
		li{
			display: inline-block;
			padding: 0.5em;
			font-variant: small-caps;
			cursor: pointer;
		}
	}
	
	button {
		border: none;
		background-color: #3dd;
		padding: 0.5em;
		cursor: pointer;
		
		/* had to add font-variant again,
		* it wouldn't work on proj-nav */
		font-variant: small-caps;
		
	}
}


/* Project list grid */
.flex-container {
	padding: 0;
	list-style: none;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	flex-wrap: column wrap;
	justify-content: center;
	align-items: flex-start;
	
	.flex-item {
		background-color: #39706C;
		padding: 0.2em;
		width: 10em;
		margin: 1em;
		
		color: white;
		text-align: center;
		
		.p_date {
			color: #000;
		}
		
	}
}
