// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*mixins*/

@mixin flex_display {
	display: -webkit-flex;
	display: flex;
}

*{
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
}

/* Header two button menu */
section {
	width: 100%;
	position: fixed;
	height: 100%;
	background-color: #0f7716;
	
	.header-menu{
		display: inline-block;
		top: 50%;
		transform: translateY(50%);
		text-align: center;
		position: relative;
		width: 100%;
		
		
		a{
			text-align: center;
			padding: 0.5rem 2rem;
			display: inline-block;
			margin: 0% 5%;
			cursor: pointer;
			text-decoration: none;
			color: #ccc;
			border: solid 0.1em #3EA845;
			width: 6em;
		}
		
		a:visited {
			color: #ccc;
		}
		
		a:hover {
			-webkit-animation: moveForward .7s ease-in-out both;
			animation: moveForward .7s ease-in-out both;
		}
	}
}

h1{
	clear: left;
}

/* animations */

@-webkit-keyframes moveForward {
	from { 
				background-color: #0f7716;
				box-shadow: 0 0 0 0 #005606;
	}
	to { 
				background-color: #3EA845;
				box-shadow: 0 0 0.2rem 0.5rem #005606;
	}
}
@keyframes moveForward {
	from { 
				background-color: #0f7716;
				box-shadow: 0 0 0 0 #005606;
	}
	to { 
				background-color: #3EA845;
				box-shadow: 0 0 0.2rem 0.5rem #005606;
	}
}
